.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem
}

@media (min-width: 480px) {
  .container {
    max-width: 480px
  }
}

@media (min-width: 600px) {
  .container {
    max-width: 600px;
    padding-right: 2rem;
    padding-left: 2rem
  }
}

@media (min-width: 782px) {
  .container {
    max-width: 782px
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 960px;
    padding-right: 0rem;
    padding-left: 0rem
  }
}

@media (min-width: 1260px) {
  .container {
    max-width: 1260px
  }
}

.visible {
  visibility: visible
}

.invisible {
  visibility: hidden
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.left-1\/2 {
  left: 50%
}

.top-6 {
  top: 1.5rem
}

.m-8 {
  margin: 2rem
}

.-mx-4 {
  margin-left: -1rem;
  margin-right: -1rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.mb-12 {
  margin-bottom: 3rem
}

.mb-3 {
  margin-bottom: 0.75rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.mb-6 {
  margin-bottom: 1.5rem
}

.mb-8 {
  margin-bottom: 2rem
}

.mr-3 {
  margin-right: 0.75rem
}

.mr-4 {
  margin-right: 1rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-6 {
  margin-top: 1.5rem
}

.-mr-2 {
  margin-right: -0.5rem
}

.block {
  display: block
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-0 {
  height: 0px
}

.h-0\.5 {
  height: 0.125rem
}

.h-1 {
  height: 0.25rem
}

.h-5 {
  height: 1.25rem
}

.h-48 {
  height: 12rem
}

.h-12 {
  height: 3rem
}

.h-8 {
  height: 2rem
}

.h-full {
  height: 100%
}

.min-h-screen {
  min-height: 100vh
}

.w-16 {
  width: 4rem
}

.w-48 {
  width: 12rem
}

.w-5 {
  width: 1.25rem
}

.w-6 {
  width: 1.5rem
}

.w-8 {
  width: 2rem
}

.w-full {
  width: 100%
}

.w-96 {
  width: 24rem
}

.w-1\/2 {
  width: 50%
}

.w-1\/3 {
  width: 33.333333%
}

.max-w-screen-lg {
  max-width: 960px
}

.max-w-screen-md {
  max-width: 782px
}

.max-w-sm {
  max-width: 24rem
}

.max-w-xl {
  max-width: 36rem
}

.flex-none {
  flex: none
}

.flex-auto {
  flex: 1 1 auto
}

.flex-1 {
  flex: 1 1 0%
}

.flex-grow {
  flex-grow: 1
}

.grow {
  flex-grow: 1
}

.basis-1\/2 {
  flex-basis: 50%
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-y-2 {
  --tw-translate-y: -0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-3 {
  --tw-translate-x: 0.75rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-2 {
  --tw-translate-y: 0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-rotate-45 {
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-45 {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-pointer {
  cursor: pointer
}

.list-decimal {
  list-style-type: decimal
}

.list-disc {
  list-style-type: disc
}

.list-none {
  list-style-type: none
}

.flex-row {
  flex-direction: row
}

.flex-row-reverse {
  flex-direction: row-reverse
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.rounded {
  border-radius: 0.25rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-xl {
  border-radius: 0.75rem
}

.border {
  border-width: 1px
}

.border-b {
  border-bottom-width: 1px
}

.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(14 165 233 / var(--tw-border-opacity))
}

.border-transparent {
  border-color: transparent
}

.bg-current {
  background-color: currentColor
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}

.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity))
}

.bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity))
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(14 165 233 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops))
}

.from-blue-50 {
  --tw-gradient-from: #eff6ff var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(239 246 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-10\% {
  --tw-gradient-from-position: 10%
}

.via-sky-100 {
  --tw-gradient-to: rgb(224 242 254 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #e0f2fe var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.via-30\% {
  --tw-gradient-via-position: 30%
}

.to-blue-200 {
  --tw-gradient-to: #bfdbfe var(--tw-gradient-to-position)
}

.to-90\% {
  --tw-gradient-to-position: 90%
}

.fill-gray-500 {
  fill: #6b7280
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain
}

.object-scale-down {
  -o-object-fit: scale-down;
     object-fit: scale-down
}

.p-4 {
  padding: 1rem
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.pb-4 {
  padding-bottom: 1rem
}

.pr-3 {
  padding-right: 0.75rem
}

.pt-0 {
  padding-top: 0px
}

.pt-4 {
  padding-top: 1rem
}

.text-center {
  text-align: center
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-5xl {
  font-size: 3rem;
  line-height: 1
}

.text-large {
  font-size: 1.125rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-xl {
  font-size: 1.25rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-small {
  font-size: 0.875rem
}

.font-bold {
  font-weight: 700
}

.font-extrabold {
  font-weight: 800
}

.font-light {
  font-weight: 300
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.capitalize {
  text-transform: capitalize
}

.leading-6 {
  line-height: 1.5rem
}

.leading-tight {
  line-height: 1.25
}

.tracking-tight {
  letter-spacing: -0.025em
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity))
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity))
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(14 165 233 / var(--tw-text-opacity))
}

.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(20 184 166 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.opacity-0 {
  opacity: 0
}

.opacity-100 {
  opacity: 1
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-behind {
  --tw-shadow: 0 1px 15px rgba(27,31,35,.15);
  --tw-shadow-colored: 0 1px 15px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.duration-200 {
  transition-duration: 200ms
}

.alignfull {
  margin: 2rem calc(50% - 50vw) !important;
  max-width: 100vw !important;
  width: 100vw
}

.alignwide {
  margin: 2rem 0;
  max-width: 1260px !important
}

.alignnone {
  margin-left: 0px;
  margin-right: 0px;
  height: auto;
  max-width: 100%
}

.aligncenter {
  margin: 0.5rem auto;
  display: block
}

@media (min-width: 600px) {
  .alignleft:not(.wp-block-button) {
    margin-right: 0.5rem;
    float: left
  }

  .alignright:not(.wp-block-button) {
    margin-left: 0.5rem;
    float: right
  }

  .wp-block-button.alignleft a {
    float: left;
    margin-right: 1rem
  }

  .wp-block-button.alignright a {
    float: right;
    margin-left: 1rem
  }
}

.wp-caption {
  display: inline-block
}

.wp-caption img {
  margin-bottom: 0.5rem;
  line-height: 1
}

.wp-caption-text {
  font-size: 0.875rem;
  color: #4b5563
}

body {
  font-family: Inter, ui-sans-serif, system-ui
}

.wp-block {
  max-width: 1260px
}

.wp-block[data-align=wide] {
  max-width: 1260px
}

.wp-block[data-align=full] {
  max-width: 100%
}

.hover\:italic:hover {
  font-style: italic
}

.hover\:text-primary:hover {
  --tw-text-opacity: 1;
  color: rgb(14 165 233 / var(--tw-text-opacity))
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.focus\:ring-gray-900:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(17 24 39 / var(--tw-ring-opacity))
}

.focus\:ring-offset-2:focus {
  --tw-ring-offset-width: 2px
}

.focus\:ring-offset-white:focus {
  --tw-ring-offset-color: #fff
}

@media (min-width: 600px) {
  .sm\:w-auto {
    width: auto
  }
}

@media (min-width: 782px) {
  .md\:-mx-8 {
    margin-left: -2rem;
    margin-right: -2rem
  }

  .md\:my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
  }

  .md\:mb-2 {
    margin-bottom: 0.5rem
  }

  .md\:flex {
    display: flex
  }

  .md\:w-1\/2 {
    width: 50%
  }

  .md\:w-auto {
    width: auto
  }

  .md\:flex-auto {
    flex: 1 1 auto
  }

  .md\:flex-row {
    flex-direction: row
  }

  .md\:flex-row-reverse {
    flex-direction: row-reverse
  }

  .md\:flex-wrap {
    flex-wrap: wrap
  }

  .md\:pl-4 {
    padding-left: 1rem
  }

  .md\:pr-0 {
    padding-right: 0px
  }

  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
  }

  .md\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
  }

  .md\:text-small {
    font-size: 0.875rem
  }
}

@media (min-width: 960px) {
  .lg\:invisible {
    visibility: hidden
  }

  .lg\:block {
    display: block
  }

  .lg\:flex {
    display: flex
  }

  .lg\:hidden {
    display: none
  }

  .lg\:flex-row {
    flex-direction: row
  }

  .lg\:flex-row-reverse {
    flex-direction: row-reverse
  }

  .lg\:items-center {
    align-items: center
  }

  .lg\:justify-between {
    justify-content: space-between
  }

  .lg\:bg-transparent {
    background-color: transparent
  }

  .lg\:pl-4 {
    padding-left: 1rem
  }

  .lg\:pr-0 {
    padding-right: 0px
  }

  .lg\:text-5xl {
    font-size: 3rem;
    line-height: 1
  }

  .lg\:text-6xl {
    font-size: 3.75rem;
    line-height: 1
  }

  .lg\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
  }

  .group:hover .lg\:group-hover\:block {
    display: block
  }
}